.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  opacity: 0.4;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes animateBg {
  0% { background-position: 0% 0%; }
  100% { background-position: 0% 100%; }
}

.App-wrapper {
  animation: animateBg 10s linear infinite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: animateBg 10s linear infinite;
  
  background-image: linear-gradient(0deg,#552525,#5f4c24,#5f6745,#687e26,#26825c,#335c6f,#104650,#203b5d,#2b376b,#3f3a61,#552525,#5f4c24);
  background-size: 100% 1100%;
  filter:grayscale(30%);
  height: 100vh;
  width: 100vw;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}